<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/bootstrap-rtl.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/font-awesome.css" />

  <title>
    <%= pageTitle %>
  </title>
</head>

<body>
  <%- include("./header.ejs") %>

    <form action="/handleChangePassAdmin" role="form" class="justify-content-center" method="POST">
      <div class="p-5 mt-2 row rtl rounded-lg border border-Secondary bg-light"
        style="opacity: 0.9; margin-left: 18%; margin-right: 18%">
        <div class="col-12">
          <h4 class="mb-5 text-danger font-weight-bold">تغییر گذر واژه <%= user.title %>
              <%= user.firstName %>
                <%= user.lastName %>
          </h4>
        </div>

        <%- include("./LoginMessages.ejs") %> <%- include("./messages.ejs") %>

            <div class="col-12 form-group d-none">
              <input name="Ids" type="text" id="Ids" value="<%= user.id %>" />
            </div>
            <div class="col-12 form-group">
              <label class="font-weight-bold" for="newpasswordAdmin">گذر واژه جدید</label>
              <input name="newpasswordAdmin" type="text" class="form-control" id="newpasswordAdmin" />
            </div>
            <div class="col-12 form-group">
              <label class="font-weight-bold" for="confermNewpasswordAdmin">تکرار گذر واژه جدید</label>
              <input name="confermNewpasswordAdmin" type="text" class="form-control" id="confermNewpasswordAdmin" />
            </div>
            <div class="form-check mb-5 ml-5">
              <input class="form-check-input" type="checkbox" name="isActive" id="isActive">
              <label class="form-check-label" for="isActive">
                کاربر باید در اولین ورود گذر واژه خود را تغییر دهد
              </label>
            </div>

            <div class="col-lg-12 form-group">
              <button type="submit" class="btn btn-secondary btn-lg btn-block border border-white">
                تغییر کلمه ورود
              </button>
            </div>
      </div>
    </form>

    <!-- <div class="mb-5  row bg-dark text-white text-center" style="margin-left: 18%; margin-right: 18%;">
      Design by Mahdi Yarmohamadi
    </div> -->
    <!-- <script>
      function redirect() {
        redirect("./form.ejs");
      }
    </script> -->
</body>

</html>