<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/bootstrap-rtl.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="/css/font-awesome.css" />
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery-3.5.1.js"></script>
  <script src="/js/jquery.dataTables.min.js"></script>
  <script src="/js/sweetalert2.all.min.js"></script>

  <title>
    <%= pageTitle %>
  </title>
</head>

<body>
  <%- include("./header.ejs") %>

    <div class="p-5 mt-2 row rtl rounded-lg border border-Secondary bg-light"
      style="opacity: 0.9; margin-left: 18%; margin-right: 18%">
      <div class="mb-5 text-justify card card-body">
        یک تجربه، ابتکار یا «اقدام خوب» عبارت است از راهکاری که در عمل ثابت شده
        که خوب کار می کند و در بهبود کیفیت و ارتقای عملکرد مؤثر است. این راهکار
        به عنوان یک الگو و سرمشق می تواند توصیه شود. یک تجربه موفق که آزمون شده
        و به تأیید رسیده، شایسته است به اشتراک گذاشته شود تا سازمان ها و افراد
        بیشتری بتوانند از آن استفاده کنند و عملکرد و کیفییت خدمات را ارتقا دهند.
      </div>
      <div class="col-lg-12 form-group">
        <div class="text-center col-12 form-group">
          <table id="example" class="display" style="width: 100%">
            <thead>
              <tr>
                <th>ردیف</th>
                <% if (role==="admin" ) {%>
                  <th>نام مرکز</th>
                  <% } %>
                    <th>عنوان</th>
                    <th>محور</th>
                    <th>تاریخ ثبت</th>
                    <th>ویرایش</th>
                    <th>حذف</th>
              </tr>
            </thead>
            <% var idView=0 %>
              <% for (let field of fieldQuery){ %>
                <% idView+=1 %>
                  <tr>
                    <td>
                      <%= idView%>
                    </td>
                    <% if (role==="admin" ) {%>
                      <td>
                        <%= field.office %>
                      </td>
                      <% } %>
                        <td>
                          <a href="/ViewDetails/<%= field.ideaId %>">
                            <%= field.title %>
                          </a>
                        </td>
                        <td>
                          <%= field.fieldText %>
                        </td>
                        <td>
                          <%= formatDate(field.createdAt) %>
                        </td>
                        <td>
                          <a <% if (edit) { %>

                            href="/edit/<%= field.ideaId %> "


                              <% } else { %>
                                onclick="timeOut()"
                                <% } %>


                                  class="btn btn-light fa fa-edit"
                                  style="color: green"></a>
                        </td>
                        <td>
                          <button <% if (edit) { %>
                            onclick="alert(<%= field.ideaId %>)"
                              <% } else { %>
                                onclick="timeOut()"
                                <% } %>


                                  class="btn btn-light fa fa-trash"
                                  style="color: red" ></button>
                        </td>
                  </tr>
                  <% } %>
          </table>
        </div>
        <button <% if (edit) { %>
          onclick="redirect()"
          <% } else { %>
            onclick="timeOut()"
            <% } %>
              class="btn btn-secondary btn-lg btn-block border border-white" >
              ثبت ابتکار و تجربه جدید
        </button>
      </div>
    </div>

    <!-- <div class="mb-5  row bg-dark text-white text-center" style="margin-left: 18%; margin-right: 18%;">
      Design by Mahdi Yarmohamadi
    </div> -->
    <script>
      function redirect() {
        window.location = "/form";
      }
      function alert(id) {
        Swal.fire({
          title: "آیا مطمئن هستید که میخواهید رکورد را حذف کنید؟",
          showDenyButton: false,
          showCancelButton: true,
          confirmButtonText: "بلی",
          cancelButtonText: `خیر`,
          cancelButtonColor: "#008000",
          confirmButtonColor: "#ff0000",
        }).then(function (result) {
          /* Read more about isConfirmed, isDenied below */
          if (result.isConfirmed) {
            $.ajax({
              type: "GET",
              url: "/del/" + id,
              cache: false,
              success: function (res) {
                Swal.fire("حذف رکود با موفقیت انجام شد", "", "success");

                setTimeout(function () {
                  window.location.reload();
                }, "1000");
              },
            });
          } else if (result.isDenied) {
            Swal.fire("Changes are not saved", "", "info");
          }
        });
      }
      function timeOut() {
        Swal.fire({
          title: "فرصت ارسال و یا ویرایش ابتکار و تجربه به اتمام رسیده است",
          showDenyButton: false,
          showCancelButton: true,
          showConfirmButton: false,
          cancelButtonText: `متوجه شدم`,
          cancelButtonColor: "#008000",
        })
      }
      $(document).ready(function () {
        $('#example').DataTable();
      });

    </script>
</body>

</html>