<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap-rtl.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>
    <%= pageTitle %>
  </title>
</head>

<body>
  <%- include("./header.ejs") %>

    <div class="p-5  mt-2 row rtl rounded-lg border border-Secondary  bg-light  "
      style="opacity: 0.9;margin-left: 18%; margin-right: 18%;">
      <%- include("./tabAdmin.ejs") %>

        <%- include("./messages.ejs") %>
    </div>

    <!-- <div class="mb-5  row bg-dark text-white text-center" style="margin-left: 18%; margin-right: 18%;">
      Design by Mahdi Yarmohamadi
    </div> -->
</body>

</html>