<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap-rtl.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>
    <%= pageTitle %>
  </title>
</head>

<body>
  <%- include("./header.ejs") %>
    <form enctype="multipart/form-data" action="/edit/<%= idea.ideaId %>" role="form" class=" justify-content-center "
      method="POST">
      <div class="p-5  mt-2 row rtl rounded-lg border border-Secondary  bg-light  "
        style="opacity: 0.9;margin-left: 18%; margin-right: 18%;">
        <%- include("./messages.ejs") %>
          <div class="col-12 form-group">
            <label class="font-weight-bold" for="title">1)عنوان ابتکار تجربه</label>
            <textarea name="title" type="text" class="form-control txtColorEdit" id=" title"
              rows="3"><%= idea.title %> </textarea>
          </div>

          <div class="col-12 form-group">
            <label class="font-weight-bold" for="fieldId">2)حوزه ابتکار تجربه</label>
            <select name="fieldId" id="fieldId" class="form-select form-control" required maxlength="250">

              <% for (let field of Fields){ %>

                <option <% if(field.fieldId==idea.fieldId){ %>
                  selected
                  <% } %>
                    value=<%=field.fieldId%>><%= field.fieldText %>
                </option>
                <% } %>
            </select>
          </div>





          <div class="col-12 form-group">
            <label class="font-weight-bold" for="keyWords">3)کلمات کلیدی</label>
            <textarea name="keyWords" type="text" class="form-control txtColorEdit" id="keyWords"
              rows="3"><%= idea.keyWords %></textarea>
          </div>
          <div class="col-12 form-group">
            <label class="font-weight-bold" for="challenge">4)چالش یا مسأله زمینه ساز و تجربه</label>
            <textarea name="challenge" type="text" class="form-control txtColorEdit" id="challenge"
              rows="5"><%= idea.challenge %></textarea>
          </div>
          <div class="col-12 form-group">
            <label class="font-weight-bold" for="description">5)شرح ابتکار و تجربه</label>
            <textarea name="description" type="text" class="form-control txtColorEdit" id="description"
              rows="6"><%= idea.description %></textarea>
          </div>
          <div class="col-12 form-group">
            <label class="font-weight-bold" for="timeAndPlace">6)زمان و محل تجربه</label>
            <textarea name="timeAndPlace" type="text" class="form-control txtColorEdit" id="timeAndPlace"
              rows="4"><%= idea.timeAndPlace %></textarea>
          </div>
          <div class="col-12 form-group">
            <label class="font-weight-bold" for="result">7)نتایج و آثار اجرای تجربه</label>
            <textarea name="result" type="text" class="form-control txtColorEdit" id="result"
              rows="4"><%= idea.result %></textarea>
          </div>
          <div class="col-12 form-group">
            <label class="font-weight-bold" for="Limitations">8)محدودیت ها و موانع اجرا</label>
            <textarea name="Limitations" type="text" class="form-control txtColorEdit" id="Limitations"
              rows="4"><%= idea.Limitations %></textarea>
          </div>

          <div class="col-12 form-group">
            <label class="font-weight-bold" for="recommendation">9)درس آموخته ها و توصیه های حاصل از تجربه</label>
            <textarea name="recommendation" type="text" class="form-control txtColorEdit" id="recommendation"
              rows="4"><%= idea.recommendation %></textarea>
          </div>




          <div class="col-12 form-group">
            <div class="mb-3">
              <label for="attachFile" class="font-weight-bold form-label">لطفاً درصورتیکه قصد تغییر پیوست را دارید،
                پیوست جدید را در قالب یک فایل Doc, Docx, pdf و یا zip آپلود کنید</label>
              <input name="attachFile" class="form-control" type="file" id="attachFile" value="<%= idea.attachFile %>">
            </div>
          </div>










          <div class="col-lg-12 form-group">
            <button type="submit" class="btn btn-secondary btn-lg btn-block border border-white">ثبت ویرایش</button>

          </div>
      </div>

    </form>
    <!-- <div class="mb-5  row bg-dark text-white text-center" style="margin-left: 18%; margin-right: 18%;">
      Design by Mahdi Yarmohamadi
    </div> -->
</body>

</html>