<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap-rtl.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/jquery.min.js"></script>

  <title>
    <%= pageTitle %>
  </title>
</head>

<body>
  <%- include("./header.ejs") %>
    <form enctype="multipart/form-data" action="/form" role="form" class=" justify-content-center " method="POST">
      <div class="p-5  mt-2 row rtl rounded-lg border border-Secondary  bg-light  "
        style="opacity: 0.9;margin-left: 18%; margin-right: 18%;">
        <div class="mb-5 text-justify card card-body">
          یک تجربه، ابتکار یا «اقدام خوب» عبارت است از راهکاری که در عمل ثابت شده
          که خوب کار می کند و در بهبود کیفیت و ارتقای عملکرد مؤثر است. این راهکار
          به عنوان یک الگو و سرمشق می تواند توصیه شود. یک تجربه موفق که آزمون شده
          و به تأیید رسیده، شایسته است به اشتراک گذاشته شود تا سازمان ها و افراد
          بیشتری بتوانند از آن استفاده کنند و عملکرد و کیفییت خدمات را ارتقا دهند.
        </div>

        <%- include("./messages.ejs") %>
          <div class="col-12 form-group">
            <input name="office" value="<%= office %>" type="hidden" id="office">
            <input name="ownerId" value="<%= userId %>" type="hidden" id="ownerId">

          </div>
          <div class="col-12 form-group">
            <label class="font-weight-bold" for="title">1)عنوان ابتکار تجربه</label>
            <textarea name="title" type="text" class="form-control class=" font-weight-light id="title" rows="3"
              required maxlength="250"></textarea>
          </div>
          <div class="col-12 form-group">
            <label class="font-weight-bold" for="fieldId">2)حوزه ابتکار تجربه</label>
            <select name="fieldId" id="fieldId" class="form-select form-control" required maxlength="250">
              <option selected></option>

              <% for (let field of Fields){ %>

                <option value=<%=field.fieldId%>><%= field.fieldText %>
                </option>
                <% } %>
            </select>
          </div>
          <div class="col-12 form-group">
            <label class="font-weight-bold" for="keyWords">3)کلمات کلیدی</label>
            <textarea name="keyWords" type="text" class="form-control" id="keyWords" rows="3"
              placeholder="کلیدواژه های مرتبط با تجربه و ابتکارات..." required maxlength="14900"></textarea>
          </div>
          <div class="col-12 form-group">
            <label class="font-weight-bold" for="challenge">4)چالش یا مسأله زمینه ساز و تجربه</label>
            <textarea name="challenge" type="text" class="form-control" id="challenge" rows="5"
              placeholder="مسئله و چالش های که زمینه ساز ابتکارات و تجربه بوده است را با ذکر جزئیات کافی بیان کنید. مشکل در کدام واحد و قسمت وجود داشته است. توضیحات به نحوی باشد که اهمیت مسأله به خوبی بیان شود."
              required maxlength="14900"></textarea>
          </div>
          <div class="col-12 form-group">
            <label class="font-weight-bold" for="description">5)شرح ابتکار و تجربه</label>
            <textarea name="description" type="text" class="form-control" id="description" rows="6"
              placeholder="اهداف ابتکار چه بوده است؟ با ذکر جزئیات کافی گام ها و مراحل اجرایی تجربه را بیان کنید. چه کسانی مشارکت داشتند؟ چه منابعی استفاده شده است؟ چه گام هایی طی شده است؟"
              required maxlength="14900"></textarea>
          </div>
          <div class="col-12 form-group">
            <label class="font-weight-bold" for="timeAndPlace">6)زمان و محل تجربه</label>
            <textarea name="timeAndPlace" type="text" class="form-control" id="timeAndPlace" rows="4" placeholder="..."
              required maxlength="14900"></textarea>
          </div>
          <div class="col-12 form-group">
            <label class="font-weight-bold" for="result">7)نتایج و آثار اجرای تجربه</label>
            <textarea name="result" type="text" class="form-control" id="result" rows="4"
              placeholder="نتایج و تأثیرات اجرای ابتکار و تجربه بر کیفیت و بهره وری چیست؟ از نظر زمان، هزینه، ایمنی، کیفیت و عملکرد چه دستاورد و ارتقائی ایجاد شده است؟"
              required maxlength="14900"></textarea>
          </div>

                    <div class="col-12 form-group">
            <label class="font-weight-bold" for="Limitations">8)محدودیت ها و موانع اجرا</label>
            <textarea name="Limitations" type="text" class="form-control" id="Limitations" rows="4"
              placeholder="موانع، محدودیت ها و چالش‌های اجرای ابتکار چه بوده است. به عواملی اشاره شود که اگر وجود نداشتند کارها بهتر پیش می‌رفت و نتایج
              بیشتری به دست می‌آمد.
              ..."
              required maxlength="14900"></textarea>
          </div>

          <div class="col-12 form-group">
            <label class="font-weight-bold" for="recommendation">9)درس آموخته ها و توصیه های حاصل از تجربه</label>
            <textarea name="recommendation" type="text" class="form-control" id="recommendation" rows="4"
              placeholder="اجرای ابتکار و تجربه چه چیزهایی به ما یاد داده است که در آینده و سایر زمینه ها کمک کننده است؟ مثلاً موانع اجرایی ابتکار چه بوده است؟ پیشنهاد برای اجرای ابتکار در سایر مراکز چیست؟"
              required maxlength="14900"></textarea>
          </div>

          <div class="col-12 form-group">
            <div class="mb-3">
              <label for="attachFile" class="font-weight-bold form-label">لطفاً پیوست موردنظر را در قالب یک فایل Doc, Docx, pdf و یا zip آپلود کنید</label>
              <input name="attachFile" class="form-control" type="file" id="attachFile">
            </div>
          </div>
          <div class="col-lg-12 form-group">
            <button type="submit" class="col-12 btn btn-secondary btn-lg btn-block border border-white">ثبت</button>
            <a class="col-12 btn btn-secondary btn-lg btn-block border border-white" href="/dashboard">بازگشت</a>
          </div>
      </div>

    </form>
    <script>
      $("#attachFile").change(function() {

        var ext = $('#attachFile').val().split('.').pop().toLowerCase();
        if($.inArray(ext, ['pdf','zip','rar','doc','docx']) == -1) {
            alert('لطفا فایل های نوع PDF,doc, docx, zip, rar قرار دهید');
        }
        })
    </script>
    <!-- <div class="mb-5  row bg-dark text-white text-center" style="margin-left: 18%; margin-right: 18%;">
      Design by Mahdi Yarmohamadi
    </div> -->
</body>





</html>