<div class="col-12 justify-content-center rtl">
  <div style="opacity: 0.9; margin-left: 17.5%; margin-right: 17.5%"
    class="text-center p-2 mt-5 rounded-lg border border-Secondary bg-light">
    <div class="text-center">
      <img class="sbmuLogo" src="/photo/sbmu.png" alt="" />
    </div>
    <h2 class="text-center font-weight-bold">ابتکارات و تجربیات بهره وری</h2>
    <h3 class="text-center font-weight-bold">دانشگاه علوم پزشکی شهید بهشتی</h3>
    <br /><br />
    <div class="container">
      <div class="row">
        <div class="text-left pl-5 col-8">
          <span>
            <%= title %>
              <b>
                <%= firstName %>
                  <%= lastName %>
              </b>
              رابط محترم
              <b>
                <%= office %>
              </b>
              خوش آمدید
          </span>
        </div>
        <div class="pl-5 col-3">
          <% if (AccessLevel==='admin' ){ %>
            <a class="text-left btn btn-success" href="/dashboardAdmin">پنل مدیریت</a>
            <a class="text-left btn btn-success" href="/dashboard">بازگشت</a>
            <% } %>
        </div>
        <div class=" col-1" style="font-size:larger;">
          <a class="fa fa-power-off text-center btn btn-light" href="/logout"></a>
        </div>
      </div>
    </div>
  </div>
</div>