<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/bootstrap-rtl.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/font-awesome.css" />
  <script src="/js/jquery.min.js"></script>


  <title>
    <%= pageTitle %>
  </title>
</head>

<body>
  <%- include("./header.ejs") %>

    <form action="/handleInsertUser" role="form" class="justify-content-center" method="POST">
      <div class="p-5 mt-2 row rtl rounded-lg border border-Secondary bg-light"
        style="opacity: 0.9; margin-left: 18%; margin-right: 18%">
        <div class="col-12">
          <h4 class="mb-5 text-danger font-weight-bold"> ساخت کاربر جدید
          </h4>
        </div>

        <%- include("./LoginMessages.ejs") %> <%- include("./messages.ejs") %>

            <div class="col-12 form-group">
              <label class="font-weight-bold" for="title">عنوان</label>
              <select class="form-control form-select-lg" aria-label="Default select example">
                <option selected></option>
                <option value="سرکار خانم">سرکار خانم </option>
                <option value="جناب آقای">جناب آقای</option>
                <option value="سرکار خانم مهندس">سرکار خانم مهندس </option>
                <option value="جناب آقای مهندس">جناب آقای مهندس</option>
                <option value="سرکار خانم دکتر">سرکار خانم دکتر </option>
                <option value="جناب آقای دکتر">جناب آقای دکتر</option>
              </select>
            </div>
            <div class="col-12 form-group">
              <label class="font-weight-bold" for="firstName">نام</label>
              <input name="firstName" type="text" class="form-control" id="firstName" />
            </div>
            <div class="col-12 form-group">
              <label class="font-weight-bold" for="lastName">نام خانوادگی</label>
              <input name="lastName" type="text" class="form-control" id="lastName" />
            </div>
            <div class="col-12 form-group">
              <label class="font-weight-bold" for="office">نام مرکز</label>
              <input name="office" type="text" class="form-control" id="office" />
            </div>
            <div class="col-12 form-group">
              <label class="font-weight-bold" for="mobile">شماره تلفن همراه</label>
              <input name="mobile" type="text" class="form-control" id="mobile" />
            </div>
            <div class="col-12 form-group">
              <label class="font-weight-bold" for="email">ایمیل</label>
              <input name="email" type="text" class="form-control" id="email" />
            </div>
            <div class="col-12 form-group">
              <label class="font-weight-bold" for="AccessLevel">سطح دسترسی</label>
              <select id="AccessLevel" name="AccessLevel" class="form-control form-select-lg"
                aria-label="Default select example">
                <option selected></option>
                <option value="admin">مدیر سیستم </option>
                <option value="fieldAdmin">مدیر بررسی محورها</option>
                <option value="user">کاربر عادی </option>
              </select>
            </div>
            <div id="field" class="col-12 form-group " style="display: none;">
              <label class="font-weight-bold" for="fieldId">محور محول شده</label>
              <select name="fieldId" id="fieldId" class="form-select form-control ">
                <option selected></option>
                <% for (let field of Fields){ %>
                  <option value=<%=field.fieldValue%>><%= field.fieldText %>
                  </option>
                  <% } %>
              </select>
            </div>
            <div class="col-12 form-group">
              <label class="font-weight-bold" for="userName">نام کاربری</label>
              <input name="userName" type="text" class="form-control" id="userName" />
            </div>
            <div class="col-12 form-group">
              <label class="font-weight-bold" for="password">گذر واژه جدید</label>
              <input name="password" type="text" class="form-control" id="password" />
            </div>
            <div class="col-12 form-group">
              <label class="font-weight-bold" for="confirmPassword">تکرار گذر واژه جدید</label>
              <input name="confirmPassword" type="text" class="form-control" id="confirmPassword" />
            </div>
            <div class="form-check mb-5 ml-5">
              <input class="form-check-input" type="checkbox" name="isActive" id="isActive" value="true">
              <label class="form-check-label" for="isActive">
                کاربر باید در اولین ورود گذر واژه خود را تغییر دهد
              </label>
            </div>

            <div class="col-lg-12 form-group">
              <button type="submit" class="btn btn-secondary btn-lg btn-block border border-white">
                تغییر کلمه ورود
              </button>
            </div>
      </div>
    </form>

    <!-- <div class="mb-5  row bg-dark text-white text-center" style="margin-left: 18%; margin-right: 18%;">
      Design by Mahdi Yarmohamadi
    </div> -->

<script>
  $("#AccessLevel").on('change', function () {
    if ($(this).val() == 'fieldAdmin') {
      ($("#field").css("display", "block"))
    }else{
      ($("#field").css("display", "none"))

    }
  });
</script>
</body>
</html>