<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/bootstrap-rtl.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/font-awesome.css" />

  <title>
    <%= pageTitle %>
  </title>
</head>

<body>
  <%- include("./header.ejs") %>

  <form action="/changePass" role="form" class="justify-content-center" method="POST">
    <div class="p-5 mt-2 row rtl rounded-lg border border-Secondary bg-light"
      style="opacity: 0.9; margin-left: 18%; margin-right: 18%">
      <h4 class="mb-5 text-danger font-weight-bold">تنظیم گذر واژه</h4>
      <%- include("./LoginMessages.ejs") %>
        <%- include("./messages.ejs") %>
          <div class="col-12 form-group">
            <label class="font-weight-bold" for="oldpassword">گذر واژه فعلی</label>
            <input name="oldpassword" type="password" class="form-control class=" font-weight-light id="oldpassword" />
          </div>
          <div class="col-12 form-group">
            <label class="font-weight-bold" for="newpassword">گذر واژه جدید</label>
            <input name="newpassword" type="text" class="form-control" id="newpassword" />
          </div>
          <div class="col-12 form-group">
            <label class="font-weight-bold" for="confermNewpassword">تکرار گذر واژه جدید</label>
            <input name="confermNewpassword" type="text" class="form-control" id="confermNewpassword" />
          </div>
          <div class="col-lg-12 form-group">
            <button type="submit" class="btn btn-secondary btn-lg btn-block border border-white">
              تغییر کلمه ورود
            </button>
          </div>
    </div>
  </form>

  <!-- <div class="mb-5  row bg-dark text-white text-center" style="margin-left: 18%; margin-right: 18%;">
      Design by Mahdi Yarmohamadi
    </div> -->
  <script>
    function redirect() {
      redirect("./form.ejs");
    }
  </script>
</body>

</html>