<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/bootstrap-rtl.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="/css/font-awesome.css" />
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery-3.5.1.js"></script>
  <script src="/js/jquery.dataTables.min.js"></script>
  <script src="/js/sweetalert2.all.min.js"></script>

  <style>
    /* Style the tab */
    .tab {
      border: 1px solid #ccc;
      background-color: #f1f1f1;
    }

    /* Style the buttons inside the tab */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
      background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
    }
  </style>
</head>

<body>
  <!-- <div>
    <h2>Tabs</h2>
    <p>Click on the buttons inside the tabbed menu:</p>

  </div> -->

  <div class="col-12 tab">
    <button class="font-weight-bold col-4  " onclick="openMenu(event, 'Users')">لیست
      کاربران</button>
    <button class="font-weight-bold col-4 tablinks" onclick="openMenu(event, 'basicInformation')">اطلاعات پایه</button>
    <button class="font-weight-bold col-4 tablinks" onclick="openMenu(event, 'setting')">تنظیمات سیستم</button>
  </div>

  <div id="Users" class="col-12 tabcontent" style="display: block">
    <div class="ml-1 mr-1 row rtl rounded-lg  bg-light" style="opacity: 0.9">

      <div class="col-lg-12 form-group" style="font-size: small;">
        <div class="text-center col-12 form-group">
          <table id="example" class="display" style="width: 100%">
            <thead>
              <tr>
                <th>ردیف</th>
                <th>نام و نام خانوادگی</th>
                <th>مرکز</th>
                <th>نام کاربری</th>
                <th>سطح دسترسی</th>
                <th>تغییر رمز</th>
                <th>حذف</th>
              </tr>
            </thead>
            <% var idView=0 %>
              <% for (let user of Users){ %>

                <% idView+=1 %>
                    <tr>
                      <td>
                        <%= idView%>
                      </td>
                      <td>
                        <%= user.firstName %>
                          <%= user.lastName %>
                      </td>
                      <td>
                        <%= user.office %>
                      </td>
                      <td>
                        <%= user.userName %>
                      </td>
                      <td>
                        <%= user.AccessLevel %>
                      </td>
                      <td>
                        <a href="./changePassAdmin/<%= user.userId %>" class="btn btn-light fa fa-key"
                          style="color: green"></a>
                      </td>
                      <td>
                        <button class="btn btn-light fa fa-trash" style="color: red"></button>
                      </td>
                    </tr>
                  <% } %>
          </table>
        </div>
        <button onclick="redirect()" class="btn btn-secondary btn-lg btn-block border border-white">
          ثبت کاربر جدید
        </button>
      </div>
    </div>
  </div>

  <div id="basicInformation" class="col-12 tabcontent">
    <h3>اطلاعات پایه</h3>
  </div>

  <div id="setting" class="col-12 tabcontent">
    <h3>تنظیمات سیستم</h3>
  </div>

  <script>
    function openMenu(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    $(document).ready(function () {
      $('#example').DataTable();
    });
    function redirect() {
      window.location = "/insertUser";
    }

  </script>

</body>

</html>