<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap-rtl.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>
    <%= pageTitle %>
  </title>
</head>

<body>
  <%- include("./header.ejs") %>
    <form action="/edit/<%= idea.ideaId %>" role="form" class=" justify-content-center " method="POST">
      <div class="p-5  mt-2 row rtl rounded-lg border border-Secondary  bg-light  "
        style="opacity: 0.9;margin-left: 18%; margin-right: 18%;">
        <%- include("./messages.ejs") %>

          <div id="source-html">
            <div class="col-12 form-group ">
              <div style="background-color: #d1d1d1;" class="text-center p-2 border border-white rounded  shadow">
                <h5 class="pt-2 ">
                  <span>مرکز پیشنهاد دهنده: </span>
                  <span class=" font-weight-bold text-danger">
                    <%= idea.office %>
                  </span>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <span>حوزه ابتکار و تجربه:</span>
                  <span class=" font-weight-bold text-danger">
                    <% for (let field of Fields){ %>
                      <% if(field.fieldId==idea.fieldId){ %>
                        <%= field.fieldText %>
                          <% } %>
                            <% } %>
                  </span>
                </h5>
              </div>
            </div>
            <div class="col-12 form-group">
              <p class="font-weight-bold">
              <h4 class="text-center">عنوان ابتکار تجربه</h4>
              </p>
              <div class="p-2 border border-primary rounded  bg-white shadow">
                <p>
                  <%= idea.title %>
                </p>
              </div>
            </div>
            <div class="col-12 form-group">
              <p class="pt-2 font-weight-bold">
              <h4 class="text-center">کلمات کلیدی</h4>
              </p>

              <div class="p-2 border border-primary rounded  bg-white shadow">
                <p class="text-justify">
                  <%= idea.keyWords %>
                </p>
              </div>
            </div>
            <div class="col-12 form-group">
              <p class="pt-2 font-weight-bold">
              <h4 class="text-center">چالش یا مسأله زمینه ساز و تجربه</h4>
              </p>
              <div class="p-2 border border-primary rounded  bg-white shadow">
                <p class="text-justify">
                  <%= idea.challenge %>
                </p>
              </div>
            </div>
            <div class="col-12 form-group">
              <p class="pt-2 font-weight-bold">
              <h4 class="text-center">شرح ابتکار و تجربه</h4>
              </p>
              <div class="p-2 border border-primary rounded  bg-white shadow">
                <p class="text-justify">
                  <%= idea.description %>
                </p>
              </div>
            </div>
            <div class="col-12 form-group">
              <p class="pt-2 font-weight-bold">
              <h4 class="text-center">زمان و محل تجربه</h4>
              </p>
              <div class="p-2 border border-primary rounded  bg-white shadow">
                <p class="text-justify">
                  <%= idea.timeAndPlace %>
                </p>
              </div>
            </div>
            <div class="col-12 form-group">
              <p class="pt-2 font-weight-bold">
              <h4 class="text-center">نتایج و آثار اجرای تجربه</h4>
              </p>
              <div class="p-2 border border-primary rounded  bg-white shadow">
                <p class="text-justify">
                  <%= idea.result %>
                </p>
              </div>
            </div>
            <div class="col-12 form-group">
              <p class="pt-2 font-weight-bold">
              <h4 class="text-center">محدودیت ها و موانع اجرا</h4>
              </p>
              <div class="p-2 border border-primary rounded  bg-white shadow">
                <p class="text-justify">
                  <%= idea.Limitations %>
                </p>
              </div>
            </div>
            <div class="col-12 form-group">
              <p class="pt-2 font-weight-bold">
              <h4 class="text-center">درس آموخته ها و توصیه های حاصل از تجربه</h4>
              </p>
              <div class="p-2 border border-primary rounded  bg-white shadow">
                <p class="text-justify">
                  <%= idea.recommendation %>
                </p>
              </div>
            </div>

          </div>

          <div class="col-12 form-group">

            <% if (idea.attachFile) { %>
              <a target="_blank" class="btn btn-success"
                href="http://localhost:3000/uploads/attachFiles/<%= idea.attachFile %>"> دانلود فایل پیوست </a>
              <% } %>
                <button class="btn btn-primary" id="btn-export" onclick="exportHTML();">دانلود با فرمت Doc</button>
          </div>
          <div class="col-lg-12 form-group">
            <button type="submit" class="btn btn-secondary btn-lg btn-block border border-white">بستن</button>
          </div>
      </div>

    </form>
    <!-- <div class="mb-5  row bg-dark text-white text-center" style="margin-left: 18%; margin-right: 18%;">
      Design by Mahdi Yarmohamadi
    </div> -->
</body>

<script>
  function exportHTML() {
    var header = "<html xmlns:o='urn:schemas-microsoft-com:office:office' " +
      "xmlns:w='urn:schemas-microsoft-com:office:word' " +
      "xmlns=''>" +
      "<head><meta charset='utf-8'><title></title></head><body>";
    var footer = "</body></html>";
    var sourceHTML = header + document.getElementById("source-html").innerHTML + footer;
    var source = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(sourceHTML);
    var fileDownload = document.createElement("a");
    document.body.appendChild(fileDownload);
    fileDownload.href = source;
    fileDownload.download = `<%= idea.office %>.doc`;
    fileDownload.click();
    document.body.removeChild(fileDownload);
  }
</script>

</html>